body {
  background-color: #16160C;
}
.h3, h3 {
padding-top: 250px;
}

@font-face {
  font-family: "Kontanter-Bold";
  src: url(../font/Kontanter-Bold.otf);
}
@font-face {
  font-family: "Sheeping Cats Straight";
  src: url(../font/Sheeping\ Cats.otf);
}


video {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width:100% ;
  height:100% ;
  z-index: -100;
  position: absolute;
  opacity: 0.5;
}

/*固定する背景*/
.move-parallax {
  box-sizing: border-box;
  color: #FFF;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}



.parallax-bg {
  background-image: url('../images/MNP_8845.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.parallax-bg2 {
  background-image: url('../images/maxresdefault.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 110px;
  margin-top: 200px;
}


.parallax-bg3 {
  background-image: url('../images/r3hab.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*スクロールするコンテンツ*/
.scrollbox {
  background-color: #111;
}
.main {
  background-color: #989898;
}


.fa {
  font-family: "Kontanter-Bold";
}

.fa, .far, .fas {
      margin-right: .5rem!important;

}



.navbar-nav {
  flex-direction: unset;
  margin-left: 290px;
}

.bg-dark {
    background-color: #16160C!important;
}
.card {
  background-color: #FFF;
}
.card-img-top {
  background-image: url(./images/01.png);

  width: 288px;
  height: 225px;
}

.jumbotron-heading {
  color: #FFFFFF;
}

.jumbotron {
  margin-top: 0px;
  background-color: #16160C;
}

.worklink{
  background-color: #FFF;
}

h1,h2,h3 {
	margin:0 0 35px 0;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	letter-spacing:1px;
}

p{
	margin:0 0 25px;
	font-size:18px;
	line-height:1.6em;
}
a{
	color:#FFF;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}

#contact{
	background: #16160C;
	color:#f4f4f4;
	padding-bottom:80px;
}

textarea.form-control{
    height:100px;
}

.btn {
  font-family: "Kontanter-Bold";
}



.contact-container{
  margin: auto;
}

.contact-section {

  height: 400px;
}

.banner-social-buttons {
  display: flex;
      justify-content: center;

}

.banner-social-buttons li {
  margin: 0 5px;
}

 .workimages {
   height: 225px;
   width: 100%;
   display: block;
 }

 .bg-light {
   background-color: #16160C!important;
 }

 .box1 {

     position: relative;
     width: 900px;

     margin: 500px auto;
     padding:0.25em 1em;

 }
 .box1:before,.box1:after{
     content:'';
     width: 20px;
     height: 30px;
     position: absolute;
     display: inline-block;
 }
 .box1:before{

     top:0;
     left: 0;
 }
 .box1:after{

     bottom:0;
     right: 0;
 }
 .box1 p {
   font-family: "Kontanter-Bold";
    text-align: center;
    color: #FFF;
    font-size: 4rem;
    text-shadow: #666 2px 3px ;
     margin: -42px;
     padding: 0;
 }

 .jumbotron {
   margin-bottom: 0rem;
 }

.navbar-dark .navbar-brand {
  font-size: 3rem;
  margin: auto;
}

.pb-5, .py-5 {
padding-bottom: 7rem!important;
}

.banner-social-buttons {
  margin: 100px;
}

hr {
  margin: 50px;
}


strong {
  font-family: "Kontanter-Bold";
}

h2 {
  font-family: "Kontanter-Bold";
}

h3 {
  font-family: "Kontanter-Bold";
}

footer{
  text-align:center;
  display:block;
  color: #fff;
  padding:20px;
  font-family: "Kontanter-Bold";
}

label {
  font-family: "Kontanter-Bold";
}

#social-nav li a {
    padding-left: 0;
    padding-right: 0;
}



.network-name {
font-family: "Kontanter-Bold";
}

.container {
  width: 50%;
}

@media (min-width: 1200px){

  .container {
       max-width: auto;
  }
}